<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css')}}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}">
	<title>What If? - Dashboard</title>
</head>
<body>
  <div class="topnav flex-center flex-row">
    <a href="/">Dashboard</a>
    <a href="/profile">Your Profile</a>
    <a href="/newscenario">New Scenario</a>
    {% if "Moderator" in document['Roles'] %}
      <a href="/admin">Admin Page</a>
    {% endif %}
    <a href="https://replit.com/@VulcanWM" target="_blank">Follow VulcanWM</a>
  </div>
    <div class='flex-center content'>
        
  {% if text != None and text != False and text != "" %}
        <div class='flex-center msg'>
    <p>{{text}}</p>
        </div>
  {% endif %}
	<h1>Hello {{user_name}}!</h1>
  <h2>All Scenarios</h2>
  <div class="dropdown">
    <button class="dropbtn">Sort&#8595; 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/dashboard?sort=All">Sort By All</a>
      <a href="/dashboard?sort=Completed">Sort by Completed</a>
      <a href="/dashboard?sort=Not Completed">Sort by Not Completed</a>
    </div>
  </div>
  <p>Sorted by {{sort}}</p>
  <p>Click on the table rows to see the full scenario and comment!</p>
  <table>
    <tr>
<!--       <th>Id</th> -->
      <th>Title</th>
      <th>Done?</th>
    </tr>
    {% for scenario in scenarios %}
      {% if sort == "All" %}
        <tr style='cursor: pointer;' onclick="window.location.href='/scenario/{{scenario['_id']}}'">
<!--           <td>{{scenario['_id']}}</td> -->
          <td>{{scenario['Title']}}</td>
          {% if scenario['_id'] in document['Posted'] %}
            <td>Yes</td>
          {% else %}
            <td>No</td>
          {% endif %}
        </tr>
      {% elif sort == "Completed" %}
        {% if scenario['_id'] in document['Posted'] %}
          <tr style='cursor: pointer;' onclick="window.location.href='/scenario/{{scenario['_id']}}'">
            <td>{{scenario['Title']}}</td>
            <td>Yes</td>
          </tr>
        {% endif %}
      {% else %}
         {% if scenario['_id'] not in document['Posted'] %}
          <tr style='cursor: pointer;' onclick="window.location.href='/scenario/{{scenario['_id']}}'">
            <td>{{scenario['Title']}}</td>
            <td>No</td>
          </tr>
        {% endif %}
      {% endif %}

    {% endfor %}
  </table>
    </div>
</body>
</html>