<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<title>What If? - Login</title>
</head>
<body>
	<div class='flex-center content'>
    <h2>Login</h2>
    <p>This is a website where you will face hypothetical scenarios (what if), and you can enter your thoughts for each of them.</p>
    <p>After you enter your thought, you will be able to view what other user's have said, and compare your thoughts to theirs!</p>
		<script authed="location.reload()" src="https://auth.turbio.repl.co/script.js"></script>
	</div>
</body>
</html>